<div class="jumbotron container">
    <form #loginForm=ngForm (ngSubmit)="ValidateLogin()" class="was-validated">
        <div class="mb-3">
            <label for="username">UserName</label>
            <input type="text" name="username" class="form-control is-invalid" id="username" [(ngModel)]="username" placeholder="Enter username" #usernameControl="ngModel" required/>
            <span *ngIf="usernameControl.touched && usernameControl.invalid" class="invalid-feedback">Please enter your username.</span>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control is-invalid" id="password" [(ngModel)]="password" placeholder="Enter password" #passwordControl="ngModel" required/>
            <span *ngIf="passwordControl.touched && passwordControl.invalid" class="invalid-feedback">Please enter your password</span>
        </div>
        <div class="col-md-4 mb-3">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success" value="login" [disabled]="loginForm.invalid">Login</button>
            </div>
        </div>
    </form>
</div>